.saved-activities {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.saved-title {
  display: flex;
  justify-content: center;
  font-size: 2em;
}

.all-cards {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
}

.single-activity-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2em;
  border: solid black 0.2em;
  height: 12em;
  width: 17em;
  margin: 1em 1.75em;
}