@import '../sass/_mixins.scss';

.saved-activities {
  @include flex-align;
  flex-direction: column;
}

.saved-title {
  @include flex-justify;
  font-size: 2em;
}

.all-cards {
  @include flex-justify;
  flex-wrap: wrap;
}