@import '../sass/_mixins.scss';
@import '../sass/_variables.scss';

body {
  font-family: 'Libre Franklin', sans-serif;
}

button:hover {
  cursor: pointer;
}

a {
  @include flex-align;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

a:hover {
  transform: scale(1.1);
}

header {
  @include flex-align;
  justify-content: space-between;
  background-color: $background-color;
  color: $font-color;
  height: 4.5em
}

.website-title {
  display: flex;
  font-weight: lighter;
  font-size: 3.75em;
  margin: 0em 0.2em;
}

.home-title {
  @include flex-justify;
  font-size: 15em;
  font-weight: lighter;
  margin: 0;
}

.tagline {
  @include flex-justify;
  margin: 0;
  font-size: 1.2em;
}

.filter-activities {
  @include flex-align;
  justify-content: space-around;
  margin: 3.5% 20%;
}

select {
  height: 2em;
  width: 10em;
}

.find-activity {
  @include flex-justify;
}

.find-activity-button {
  @include flex-align;
  justify-content: center;
  border-radius: 50%;
  height: 12em;
  width: 12em;
  border: solid black 0.1em;
  background-color: $background-color;
  color: $font-color;
  transition: all .2s ease-in-out;
  outline: none;
}

button:hover {
  @include button-hover;
}

.button-text {
  font-size: 1.5em;
  margin: 0;
}

@media only screen and (max-width: 812px) {
  header {
    height: 4em; 
  }

  .filter-activities {
    flex-wrap: wrap;
  }

  p {
    margin: 0.75em;
  }

  .tagline {
    margin: 1em;
  }

  .home-title {
    font-size: 10em;
  }

  .website-title {
    font-size: 2em;
  }
}

#colorBlindSVG {
  display: none;
}
