@import '../sass/_mixins.scss';

.activity-card {
  @include flex-align;
  flex-direction: column;
  border: solid $background-color 1em;
  padding: 2em;
  margin: 2em 6em;
}

.activity-title {
  font-size: 2.5em;
  margin: 0;
}

.activity-details {
  display: flex;
  font-size: 1em;
  margin-bottom: 4em;
}

.activity-type {
  margin-right: 3em;
}

.buttons {
  margin: 0em 1.5em;
  height: 3em;
  width: 12em;
  padding: 0;
  border: solid $background-color 0.2em;
  background-color: $background-color;
  color: $font-color;
  font-size: 1.3em;
  font-weight: bolder;
  outline: none;
}

.button-container {
  @include flex-align;
}

.get-started-link {
  display: flex;
  color: $background-color;
  margin-top: 3em;
}

.get-started-here {
  text-decoration: none;
  color: $background-color;
  margin-left: 0.25em;
}

@media only screen and (max-width: 812px) {
  .activity-card {
    margin: 1em;
    padding: 1em;
    border: solid $background-color 0.5em;
  }

  .activity-title {
    font-size: 1.5em;
    margin-bottom: 1em;
  }

  .activity-details {
    display: flex;
    font-size: 0.8em;
    margin-bottom: 2em;
  }

  .buttons {
    margin: 0.5em 1em;
    width: 10em;
    font-size: 0.7em;
  }
}